#hyparquet-root {

    p {
        margin: 15px 0;
    }

    code {
        font-family: monospace;
        padding: 10px;
        white-space: pre-wrap;
        word-break: break-all;
    }

    main {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 0;
    }

    .content-container {
        min-width: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100vh;
        padding: 0;
        /* no outer scrollbars */
        overflow: hidden;
    }

    .view-header {
        align-items: center;
        color: #444;
        display: flex;
        font-size: 10pt;
        gap: 16px;
        height: 22px;
        padding: 0 8px;
        /* all one line */
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .viewer {
        display: flex;
        flex: 1;
        flex-direction: column;
        white-space: pre-wrap;
        overflow-y: auto;
    }

    .json {
        background-color: #22222b;
        padding-left: 20px;
    }

    .loader {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    // table styles

    td, th {
        --header-color: #000;
        --row-number-color: #000;
        --row-number-background-color: #f6f6f6;
        --header-background-color: #f6f6f6;
    }
}
